{% if messages %}
<div id="django-messages" class="fixed top-5 right-5 z-50 space-y-2">
    {% for message in messages %}
        <div class="px-4 py-3 rounded shadow text-white
        {% if message.tags == 'success' %} bg-green-500
        {% elif message.tags == 'error' %} bg-red-500
        {% elif message.tags == 'warning' %} bg-yellow-500
        {% else %} bg-blue-500 {% endif %}">
            {{ message }}
        </div>
    {% endfor %}
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    const messages = document.getElementById("django-messages")
    if (messages) {
        setTimeout(() => {
            messages.style.transition = "opacity 0.5s"
            messages.style.opacity = "0"

            setTimeout(() => {
                messages.remove()
            }, 500)

        }, 3000)
    }
})
</script>
{% endif %}
