{% extends '../base.html' %}
{% load static %}
{% block title %}
South Asian Football Federation: SAFF
{% endblock title %}

{% block full_content %}
<section class="bg-white">
    <div class="pt-5 pb-12">
        <div class="container">
            <div class="">
                <h3 class="text-center lg:hidden font-bold mb-2">SOUTH ASIAN FOOTBALL FEDERATION </h3>
                <div class="flex items-center justify-between">
                    <div class="px-5 py-2 bg-[#00004b] text-white">
                        <h5>TRAVEL CLAIM FORM</h5>
                    </div>
                    <h3 class="text-xl md:text-2xl hidden lg:block font-bold">SOUTH ASIAN FOOTBALL FEDERATION </h3>
                    <a href="https://saffederation.org/" class="w-full max-w-20 sm:max-w-[184px]">
                        <img src="{% static 'images/logo.svg' %}" alt="logo">
                    </a>
                </div>
            </div>
            <div class="mt-4 sm:mt-8 space-y-6 sm:space-y-8">
                <div class="form-item">
                    <div class="rounded border border-[#00004b] p-2 bg-[#00004b] shadow ">
                        <div class="flex items-center gap-2 sm:gap-4 md:gap-6 flex-wrap">
                            <h4 class="font-bold text-lg sm:text-xl text-white">Nature of Duty :</h4>
                            <div class="flex items-center gap-1 sm:gap-2">
                                <input type="radio" name="rating" id="tournament" value="1" class="w-4 sm:w-5 h-4 sm:h-5">
                                <label for="tournament" class="cursor-pointer text-xl sm:text-2xl font-medium pb-0! text-white">TOURNAMENT</label>
                            </div>
                            <div class="flex items-center gap-1 sm:gap-2">
                                <input type="radio" name="rating" id="seminar" value="2" class="w-4 sm:w-5 h-4 sm:h-5">
                                <label for="seminar" class="cursor-pointer text-xl sm:text-2xl font-medium pb-0! text-white">SEMINAR</label>
                            </div>
                            <div class="flex items-center gap-1 sm:gap-2">
                                <input type="radio" name="rating" id="event" value="3" class="w-4 sm:w-5 h-4 sm:h-5">
                                <label for="event" class="cursor-pointer text-xl sm:text-2xl font-medium pb-0! text-white">EVENT</label>
                            </div>
                            <div class="flex items-center gap-1 sm:gap-2">
                                <input type="radio" name="rating" id="others" value="4" class="w-4 sm:w-5 h-4 sm:h-5">
                                <label for="others" class="cursor-pointer text-xl sm:text-2xl font-medium pb-0! text-white">OTHERS</label>
                            </div>
                        </div>
                    </div>
                    <form action="#" class="mt-4 p-4 sm:p-8 rounded border border-[#E5E5E5]">
                        <div class="space-y-3">
                            <div class="flex flex-col sm:flex-row gap-2 items-center">
                                <div class="w-full sm:w-1/2">
                                    <label for="Event-Name">Event Name: </label>
                                    <input id="Event-Name" type="text" required class=" w-full px-3 py-1 rounded focus:outline-none">
                                </div>
                                <div class="w-full sm:w-1/2">
                                    <label for="Your-Name">Your Name: </label>
                                    <input id="Your-Name" type="text" required class="w-full px-3 py-1 rounded focus:outline-none">
                                </div>
                            </div>
                            <div class="flex flex-col sm:flex-row gap-2 items-center">
                                <div class="w-full sm:w-1/2">
                                    <label for="Designation">Designation (During Competition): </label>
                                    <input id="Designation" type="text" required class="w-full px-3 py-1 rounded focus:outline-none">
                                </div>
                                <div class="w-full sm:w-1/2">
                                    <label for="Nationality">Nationality: </label>
                                    <input id="Nationality" type="text" required class="w-full px-3 py-1 rounded focus:outline-none">
                                </div>
                            </div>
                            <div class="flex flex-col sm:flex-row gap-2 items-center">
                                <div class="w-full sm:w-1/2">
                                    <label for="Venue">Venue: </label>
                                    <input id="Venue" type="text" required class="w-full px-3 py-1 rounded focus:outline-none">
                                </div>
                                <div class="w-full sm:w-1/2">
                                    <label for="Phone">Phone: </label>
                                    <input id="Phone" type="tel" required class="w-full px-3 py-1 rounded focus:outline-none">
                                </div>
                            </div>
                            <div class="flex flex-col sm:flex-row gap-2 items-center">
                                <div class="w-full sm:w-1/2">
                                    <label for="Email">Email: </label>
                                    <input id="Email" type="email" required class="w-full px-3 py-1 rounded focus:outline-none">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="form-item">
                    <div class="rounded border border-[#00004b] p-2 bg-[#00004b] shadow">
                        <h4 class="font-bold px-2 text-lg sm:text-xl text-white">Note of Expenses</h4>
                    </div>
                    <div class="mt-4 border border-[#E5E5E5]">
                        <div class="">
                            <div class="flex border-b border-[#E5E5E5] last:border-0">
                                <div class="w-1/3 sm:w-1/4 border-r border-[#E5E5E5] px-2 sm:px-4 py-2">
                                    <h5 class="font-bold">Duration of the Trip</h5>
                                </div>
                                <form action="#" class="w-2/3 sm:w-[75%] px-2 sm:px-4 py-2 flex gap-5 flex-col lg:flex-row">
                                    <div class="w-full lg:w-1/2 flex flex-col sm:flex-row sm:items-center gap-2">
                                        <label class="w-full max-w-fit">Departure Date :</label>
                                        
                                        <div class="date-wrapper w-full relative">
                                            <input 
                                                type="date"
                                                id="myDateDeparture"
                                                onclick="this.showPicker()"
                                                class="w-full appearance-none focus:outline-0 px-2 py-1 cursor-pointer rounded"
                                            >

                                            <span 
                                                class="absolute right-2 top-1/2 -translate-y-1/2 cursor-pointer"
                                                onclick="document.getElementById('myDateDeparture').showPicker()"
                                            >
                                            </span>
                                        </div>
                                    </div>
                                    <div class="w-full lg:w-1/2 flex flex-col sm:flex-row sm:items-center gap-2">
                                        <label class="w-full max-w-fit">Return Date :</label>
                                        <div class="date-wrapper w-full relative">
                                            <input 
                                                type="date"
                                                id="myDateDeparture"
                                                onclick="this.showPicker()"
                                                class="w-full appearance-none focus:outline-0 px-2 py-1 cursor-pointer rounded"
                                            >

                                            <span 
                                                class="absolute right-2 top-1/2 -translate-y-1/2 cursor-pointer"
                                                onclick="document.getElementById('myDateDeparture').showPicker()"
                                            >
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="flex border-b border-[#E5E5E5] last:border-0">
                                <div class="w-1/3 sm:w-1/4 border-r border-[#E5E5E5] px-2 sm:px-4 py-2">
                                    <h5 class="font-bold">1. Travelling Expenses (Airfare) </h5>
                                </div>
                                <div class="w-2/3 sm:w-[75%] px-2 sm:px-4 py-2 space-y-3 sm:space-y-6">
                                    <form action="#" class="w-full flex flex-col sm:flex-row sm:items-center gap-2">
                                        <label class="w-full max-w-fit">Travelling Date :</label>
                                        <div class="date-wrapper w-full relative">
                                            <input 
                                                type="date"
                                                id="myDateDeparture"
                                                onclick="this.showPicker()"
                                                class="w-full appearance-none border-b focus:outline-0 px-2 py-1 cursor-pointer rounded"
                                            >

                                            <span 
                                                class="absolute right-2 top-1/2 -translate-y-1/2 cursor-pointer"
                                                onclick="document.getElementById('myDateDeparture').showPicker()"
                                            >
                                            </span>
                                        </div>
                                    </form>
                                    <form action="#" class="flex w-full flex-col sm:flex-row sm:items-center gap-2">
                                        <div class="w-full sm:w-1/2 flex flex-col">
                                            <label for="email" class="w-full max-w-fit">From:</label>
                                            <input id="email" type="email" required class="w-full px-3 py-1 rounded focus:outline-none">
                                        </div>
                                        <div class="w-full sm:w-1/2 flex flex-col">
                                            <label for="email" class="w-full max-w-fit">To:</label>
                                            <input id="email" type="email" required class="w-full px-3 py-1 rounded focus:outline-none">
                                        </div>
                                    </form>
                                    <form action="#" class="w-full flex flex-col">
                                        <label for="Ticket-cost" class="w-full max-w-fit">Ticket cost :</label>
                                        <input id="Ticket-cost" type="text" required
                                            class="w-full px-3 py-1 rounded focus:outline-none">
                                    </form>
                                    <form action="#" class="flex flex-col md:flex-row w-full items-center gap-2">
                                        <div class="w-full md:w-1/2 flex flex-col">
                                            <label for="Currency" class="w-full max-w-fit">Amount in Local Currency :</label>
                                            <input id="Currency" type="email" required class="w-full px-3 py-1   rounded focus:outline-none">
                                        </div>
                                        <div class="w-full md:w-1/2 flex flex-col">
                                            <label for="Amount-In-USD" class="w-full max-w-fit">Amount In USD :</label>
                                            <input id="Amount-In-USD" type="email" required
                                                class="w-full px-3 py-1 rounded focus:outline-none">
                                        </div>
                                    </form>
                                    <div>
                                        <span class="block text-sm sm:text-base">(Eg. BDT. 23330) </span>
                                        <span class="block text-sm sm:text-base">Please provide the Exchange Rate Details for the above
                                            details:</span>
                                        <p class="text-sm sm:text-base">To get the currency converter, go to google and type OANDA Currency Converter or
                                            click to the below link: </p>
                                        <a target="_blank" href="https:/www.oanda.com/currency-converter/en/"
                                            class="text-[#263772] wrap-break-word text-sm sm:text-base underline">https:/www.oanda.com/currency-converter/en/</a>
                                    </div>
                                    <div class="flex w-full flex-col lg:flex-row items-center justify-between">
                                        <p class="font-bold text-sm mb-1 lg:mb-0">Please mention the exchange rate: eg. 1USD= <span>94</span> BDT
                                        </p>
                                        <form action="#" class="flex items-center gap-2">
                                            <label for="TravellingUSD" class="w-full max-w-fit font-bold pb-0!">1 USD = </label>
                                            <input id="TravellingUSD" type="email" required
                                                class="w-full px-3 py-1   rounded focus:outline-none">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="flex border-b border-[#E5E5E5] last:border-0">
                                <div class="w-1/3 sm:w-1/4 border-r border-[#E5E5E5] px-2 sm:px-4 py-2 sm:py-4">
                                    <h5 class="font-bold">2. Daily Allowance </h5>
                                </div>
                                <div class="w-2/3 sm:w-[75%] px-2 sm:px-4 py-2 sm:py-4 space-y-3 sm:space-y-6">

                                    <form action="#" class="flex flex-col lg:flex-row w-full items-center gap-2">
                                        <div class="w-full lg:w-1/2 flex flex-col ">
                                            <label for="DailyAllowance" class="w-full max-w-fit ">Number of Days claimed for:</label>
                                            <input id="DailyAllowance" type="email" required
                                                class="w-full px-3 py-1 rounded focus:outline-none">
                                        </div>
                                        <div class="w-full lg:w-1/2 flex flex-col ">
                                            <div class="flex flex-col w-full max-w-fit">
                                                <label for="DailyCalculation" class="">Total Calculation: 
                                                <span>(No. of days X USD)</span></label>
                                            </div>
                                            <input id="DailyCalculation" type="email" required
                                                class="w-full px-3 py-1 rounded focus:outline-none">
                                        </div>
                                    </form>
                                    <form action="#" class="w-full flex flex-col">
                                        <label for="Total-Amount-USD" class="w-full max-w-fit">Total Amount USD: </label>
                                        <input id="Total-Amount-USD" type="text" required
                                            class="w-full px-3 py-1 rounded focus:outline-none">
                                    </form>
                                </div>
                            </div>
                            <div class="flex border-b border-[#E5E5E5] last:border-0">
                                <div class="w-1/3 sm:w-1/4 border-r border-[#E5E5E5] px-2 sm:px-4 py-2 sm:py-4">
                                    <h5 class="font-bold">3. Other Expenses </h5>
                                </div>
                                <div class="w-2/3 sm:w-[75%] px-2 sm:px-4 py-2 sm:py-4 space-y-3 sm:space-y-6">
                                    <div class="border border-[#E5E5E5]">
                                        <div
                                            class="flex w-full items-center justify-between border-b border-[#E5E5E5] last:border-0">
                                            <div class="w-1/2 flex items-center border-r border-[#E5E5E5] divide-x divide-[#E5E5E5]">
                                                <span class="text-xs sm:text-sm md:text-base px-1 sm:px-4 py-1">No</span>
                                                <h5 class="text-xs sm:text-sm md:text-base px-1 sm:px-4 py-1">Incidental</h5>
                                            </div>
                                            <div class="w-1/2 flex items-center">
                                                <h5 class=" text-xs sm:text-sm md:text-base px-2 sm:px-4 py-1">USD</h5>
                                            </div>
                                        </div>
                                        <form action="#">
                                            <div class="grid grid-cols-1 w-full items-center justify-between">
                                                <div id="InputWrap">
                                                    <div class="flex">
                                                        <div class="w-full flex items-center">
                                                            <span class="serial text-xs sm:text-sm font-semibold px-1 sm:px-2 py-1 sm:py-2">1.</span>
                                                            <div class="w-full px-1 sm:px-2 py-1 sm:py-2">
                                                                <input type="text" required class="w-full px-1.5 sm:px-3 py-1 rounded focus:outline-none border">
                                                            </div>
                                                        </div>
                                                        <div class="w-full flex items-center gap-2 px-1 sm:px-2 py-1 sm:py-2">
                                                            <input type="text" required class="w-full px-1.5 sm:px-3 py-1 rounded focus:outline-none border">
                                                        </div>
                                                    </div>
                                                    <div class="flex">
                                                        <div class="w-full flex items-center">
                                                            <span class="serial text-xs sm:text-sm font-semibold px-1 sm:px-2 py-1 sm:py-2">2.</span>
                                                            <div class="w-full px-1 sm:px-2 py-1 sm:py-2">
                                                                <input type="text" required class="w-full px-1.5 sm:px-3 py-1 rounded focus:outline-none border">
                                                            </div>
                                                        </div>
                                                        <div class="w-full flex items-center gap-2 px-1 sm:px-2 py-1 sm:py-2">
                                                            <input type="text" required class="w-full px-1.5 sm:px-3 py-1 rounded focus:outline-none border">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="flex items-center justify-end px-2 gap-2 my-2">
                                                <button type="button" id="add-btn" class="text-xs sm:text-sm px-3 py-1 bg-green-500 text-white cursor-pointer rounded">Add</button>
                                                <button type="button" id="add-remove" class="text-xs sm:text-sm px-3 py-1 bg-red-500 text-white cursor-pointer rounded">Remove</button>
                                            </div>
                                        </form>
                                    </div>
                                    <form action="#"
                                        class="w-full flex items-end justify-end gap-2">
                                        <label for="TotalUSD" class="w-full max-w-fit font-bold">Total USD: </label>
                                        <input id="TotalUSD" type="text" required
                                            class="w-full sm:max-w-[200px] px-3 py-1   rounded focus:outline-none">
                                    </form>
                                </div>
                            </div>
                            <div class="flex border-b border-[#E5E5E5] last:border-0">
                                <div class="w-1/3 sm:w-1/4 border-r border-[#E5E5E5] px-2 sm:px-4 py-2 sm:py-4">
                                    <h5 class="font-bold">4. GRAND TOTAL </h5>
                                </div>
                                <div class="w-2/3 sm:w-[75%] px-2 sm:px-4 py-2 sm:py-4 flex flex-col lg:flex-row gap-2.5">
                                    <div class="w-full lg:w-1/2 flex items-center gap-2">
                                        <p class="w-full max-w-fit font-bold">Ticket + Daily Allowance+ Other Expenses: </p>
                                    </div>
                                    <form action="#"
                                        class="w-full lg:w-1/2 flex flex-col sm:flex-row items-end sm:items-center justify-end gap-2">
                                        <label for="TotalAmountUSD" class="w-full max-w-fit font-bold">Total Amount USD: </label>
                                        <input id="TotalAmountUSD" type="text" required
                                            class="w-full max-w-[200px] px-3 py-1   rounded focus:outline-none">
                                    </form>
                                </div>
                            </div>
                            <div class="flex justify-between border-b border-[#E5E5E5] last:border-0">
                                <div class="w-1/2 sm:w-1/4 border-r border-[#E5E5E5] px-2 sm:px-4 py-2 sm:py-4">
                                    <h5 class="font-bold">5. FILE UPLOADE </h5>
                                </div>
                                <div class="w-full sm:w-1/2 px-2 sm:px-4 py-2 sm:py-4 flex justify-end gap-2.5">
                                    <form action="#"
                                        class="w-full flex flex-col sm:flex-row sm:items-center gap-2">
                                        <label for="attachment" class="w-full max-w-fit">PDF/Image attachment:</label>
                                        <input id="attachment" type="file"
                                            class="w-full px-3 py-1   rounded focus:outline-none">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <form action="#" class="flex items-center justify-between flex-wrap md:flex-nowrap gap-5">
                    <div class="flex items-center w-full gap-2">
                        <label for="Claimed" class="w-full max-w-fit font-bold">Claimed by:</label>
                        <input id="Claimed" type="text" class="w-full border-b focus:outline-0 px-2 py-1 rounded">
                    </div>
                    <div class="flex items-center w-full gap-2">
                        <label class="w-full max-w-fit font-bold">Date:</label>
                        <div class="date-wrapper w-full relative">
                            <input 
                                type="date"
                                id="myDateDeparture"
                                onclick="this.showPicker()"
                                class="w-full appearance-none border-b focus:outline-0 px-2 py-1 cursor-pointer rounded"
                            >

                            <span 
                                class="absolute right-2 top-1/2 -translate-y-1/2 cursor-pointer"
                                onclick="document.getElementById('myDateDeparture').showPicker()"
                            >
                            </span>
                        </div>
                    </div>
                    <div class="flex items-center w-full gap-2">
                        <label for="Signature" class="w-full max-w-fit font-bold">Signature:</label>
                        <input id="Signature" type="text" class="w-full border-b focus:outline-0 px-2 py-1 rounded">
                    </div>
                </form>
                <form action="#" class="flex gap-2 items-center justify-center">
                    <button type="submit"
                        class="cursor-pointer bg-blue-light transition hover:bg-blue-light/80 px-4 sm:px-5 py-2 text-white rounded-sm text-base sm:text-lg font-medium">Submit</button>
                    <button type="submit"
                        class="cursor-pointer bg-blue-light transition hover:bg-blue-light/80 px-4 sm:px-5 py-2 text-white rounded-sm text-base sm:text-lg font-medium">Download</button>
                </form>
                <div class="bg-[#737373] px-4 py-2 rounded">
                    <p class="text-white">Please Note: <span class="text-sm sm:text-base font-bold"> If received by cash, a separate
                            confirmation form will be provided which must be filled and signed.</span></p>
                </div>
                <div class="w-full max-w-[450px] mx-auto border-4 border-[#E5E5E5] px-2 py-2 text-center">
                    <p class="text-sm sm:text-base">South Asian Football Federation – Banani 11- Dhaka 1213</p>
                    <p class="text-sm sm:text-base">Email: <a class="text-[#263772] underline"
                            href="mailto:info@saffederation.org">info@saffederation.org</a> </p>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    const addBtn = document.getElementById("add-btn");
    const removeBtn = document.getElementById("add-remove");
    const inputWrap = document.getElementById("InputWrap");

    function updateSerial() {
    const items = inputWrap.querySelectorAll(".serial");
    items.forEach((item, index) => {
        item.textContent = (index + 1) + ".";
    });
    }

    addBtn.addEventListener("click", function () {

    const row = document.createElement("div");
    row.className = "flex w-full";

    row.innerHTML = `
        <div class="w-full flex items-center">
            <span class="serial font-semibold px-1 sm:px-2 py-1 sm:py-2"></span>
            <div class="w-full px-1 sm:px-2 py-1 sm:py-2">
                <input type="text" required class="w-full px-1.5 sm:px-3 py-1 rounded focus:outline-none border">
            </div>
        </div>

        <div class="w-full flex items-center gap-2 px-1 sm:px-2 py-1 sm:py-2">
            <input type="text" required class="w-full px-1.5 sm:px-3 py-1 rounded focus:outline-none border">
        </div>
    `;

    inputWrap.appendChild(row);
    updateSerial();
    });

    removeBtn.addEventListener("click", function () {

    if (inputWrap.children.length > 2) {
        inputWrap.removeChild(inputWrap.lastElementChild);
        updateSerial();
    }

    });
</script>
{% endblock full_content %}
