{% extends '../base.html' %}
{% load static %}
{% block title %}
South Asian Football Federation: SAFF
{% endblock title %}

{% block full_content %}
<section class="pt-5 pb-12">
    <div class="container">
        <div class="">
                <h3 class="text-center lg:hidden font-bold mb-2">SOUTH ASIAN FOOTBALL FEDERATION </h3>
                <div class="flex items-center justify-between">
                    <div class="px-3 sm:px-5 py-2 bg-[#00004b] text-white">
                        <h5>Bank Account Information</h5>
                    </div>
                    <h3 class="text-xl md:text-2xl hidden lg:block font-bold">SOUTH ASIAN FOOTBALL FEDERATION </h3>
                    <a href="https://saffederation.org/" class="w-full max-w-20 sm:max-w-[184px]">
                        <img src="{% static 'images/logo.svg' %}" alt="logo">
                    </a>
                </div>
            </div>
        <div class="mt-4 sm:mt-8 space-y-6 sm:space-y-8">
            <div class="form-item">
                <div class="rounded border border-[#00004b] p-2 bg-[#00004b] shadow-lg">
                    <h5 class="font-bold px-2 text-white">Section A: Applicants Details </h5>
                </div>
                <form action="#" class="mt-4 p-4 sm:p-8 rounded border border-[#E5E5E5] ">
                    <div class="space-y-3">
                        <div class="flex flex-col sm:flex-row gap-2 items-center">
                            <div class="w-full sm:w-1/2">
                                <label for="Event-Name">Name: </label>
                                <input id="Event-Name" type="text" required class="w-full px-3 py-1 rounded focus:outline-none">
                            </div>
                            <div class="w-full sm:w-1/2">
                                <label for="Your-Country">Country: </label>
                                <input id="Your-Country" type="text" required class="w-full px-3 py-1 rounded focus:outline-none">
                            </div>
                        </div>
                        <div class="flex flex-col sm:flex-row gap-2 items-center">
                            <div class="w-full sm:w-1/2">
                                <label for="Email">Email: </label>
                                <input id="Email" type="email" required class="w-full px-3 py-1 rounded focus:outline-none">
                            </div>
                            <div class="w-full sm:w-1/2">
                                <label for="Phone">Phone: </label>
                                <input id="Phone" type="tel" required class="w-full px-3 py-1 rounded focus:outline-none">
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
            <div class="form-item">
                <div class="rounded border border-[#00004b] p-2 bg-[#00004b] shadow-lg">
                    <h5 class="font-bold px-2 text-white">Section B: Bank Details Information</h5>
                </div>
                <form action="#" class="mt-4 p-4 sm:p-8 rounded border border-[#E5E5E5] ">
                    <div class="space-y-3">
                        <div class="flex flex-col sm:flex-row gap-2 items-center">
                            <div class="w-full sm:w-1/2">
                                <label for="Beneficiary">Name of Beneficiary: </label>
                                <input id="Beneficiary" type="text" required class="w-full px-3 py-1 rounded focus:outline-none">
                            </div>
                            <div class="w-full sm:w-1/2">
                                <label for="Bank-Name">Bank Name: </label>
                                <input id="Bank-Name" type="text" required class="w-full px-3 py-1 rounded focus:outline-none">
                            </div>
                        </div>
                        <div class="flex flex-col sm:flex-row gap-2 items-center">
                            <div class="w-full sm:w-1/2">
                                <label for="BankAddress">Bank Address: </label>
                                <input id="BankAddress" type="text" required class="w-full px-3 py-1 rounded focus:outline-none">
                            </div>
                        </div>
                        <div class="w-full">
                            <label for="Nationality"> </label>
                            <input id="Nationality" type="text" required class="w-full px-3 py-1 rounded focus:outline-none">
                        </div>
                    </div>
                </form>
            </div>
            <div class="form-item">
                <form action="#" class="mt-4 p-4 sm:p-8 rounded border border-[#E5E5E5] ">
                    <div class="space-y-3">
                        <div class="flex flex-col sm:flex-row gap-2 items-center">
                            <div class="w-full sm:w-1/2">
                                <label for="Account_No">Account No: </label>
                                <input id="Account_No" type="text" required class="w-full px-3 py-1   rounded focus:outline-none">
                            </div>
                            <div class="w-full sm:w-1/2">
                                <label for="IBAN_No">IBAN No: </label>
                                <input id="IBAN_No" type="text" required class="w-full px-3 py-1   rounded focus:outline-none">
                            </div>
                        </div>
                        <div class="flex flex-col sm:flex-row gap-2 items-center">
                            <div class="w-full sm:w-1/2">
                                <label for="Swift_Code">Swift Code: </label>
                                <input id="Swift_Code" type="text" required class="w-full px-3 py-1   rounded focus:outline-none">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="form-item">
                <h6 class="font-bold pl-5 pb-1">Additional Info</h6>
                <div class="rounded border border-[#00004b] p-2 bg-[#00004b] shadow-lg">
                    <h5 class="px-2 md:flex items-center gap-2 flex-wrap py-1 text-white">CORRESPONDENT OR INTERMEDIARY BANK DETAILS   <span class="text-sm sm:text-lg">(IF ANY)</span> 
                    </h5>
                </div>
                <form action="#" class="mt-4 p-4 sm:p-8 rounded border border-[#E5E5E5] ">
                    <div class="space-y-3">
                        <div class="flex flex-col sm:flex-row gap-2 items-center">
                            <div class="w-full sm:w-1/2">
                                <label for="AccountNo">Account No: </label>
                                <input id="AccountNo" type="text" required class="w-full px-3 py-1 rounded focus:outline-none">
                            </div>
                            <div class="w-full sm:w-1/2">
                                <label for="Bank_Address">Bank Address: </label>
                                <input id="Bank_Address" type="text" required class="w-full px-3 py-1 rounded focus:outline-none">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="bg-[#737373] px-4 py-2 rounded">
                <p class="text-white">NOTE: <span class="text-sm sm:text-base font-bold">IF bank account information provided are
                        incorrect or incomplete resulting in rejection from the bank, all bank charges for remittance of
                        rejected telegraphic transfers will be borne by beneficiary.</span></p>
            </div>
            <form action="#" class="flex items-center justify-between flex-wrap md:flex-nowrap gap-5">
                <div class="flex items-center w-full gap-2">
                    <label for="Name">Name:</label>
                    <input id="Name" type="text" required class="w-full border-b focus:outline-0 px-2 py-1 rounded">
                </div>
                <div class=" flex items-center w-full gap-2">
                    <label for="#">Date:</label>
                    <div class="date-wrapper w-full relative">
                        <input 
                            type="date"
                            id="myDateDeparture"
                            onclick="this.showPicker()"
                            class="w-full appearance-none focus:outline-0 px-2 py-1 cursor-pointer rounded"
                        >

                        <span 
                            class="absolute right-2 top-1/2 -translate-y-1/2 cursor-pointer"
                            onclick="document.getElementById('myDateDeparture').showPicker()"
                        >
                        </span>
                    </div>

                </div>
                <div class="flex items-center w-full gap-2">
                    <label for="Signature">Signature:</label>
                    <input id="Signature" type="text" required class="w-full border-b focus:outline-0 px-2 py-1 rounded">
                </div>
            </form>
            <form action="#" class="flex gap-2 items-center justify-center">
                <button type="submit"
                    class="cursor-pointer bg-blue-light transition hover:bg-blue-light/80 px-4 sm:px-5 py-2 text-white rounded-sm text-base sm:text-lg font-medium">Submit</button>
                <button type="submit"
                    class="cursor-pointer bg-blue-light transition hover:bg-blue-light/80 px-4 sm:px-5 py-2 text-white rounded-sm text-base sm:text-lg font-medium">Download</button>
            </form>
            <div class="w-full max-w-[450px] mx-auto border-4 border-[#E5E5E5] px-2 py-2 text-center">
                <p class="text-sm sm:text-base">South Asian Football Federation – Banani 11- Dhaka 1213</p>
                <p class="text-sm sm:text-base">Email: <a class="text-[#263772] underline"
                        href="mailto:info@saffederation.org">info@saffederation.org</a> </p>
            </div>
        </div>
    </div>
</section>
{% endblock full_content %}